{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnologias Chapinas S.A</title>
    <link rel="stylesheet" href="{% static '/styles/sistema.css' %}">
</head>
<body>
    <nav class="navbar container">
        <ul>
            <li>
                <a href="/datos">Consultar Datos</a>
            </li>
            <li>
                <a href="/creacion_datos">Creacion Nuevos Datos</a>
            </li>
            <li>
                <a href="/proceso_facturacion">Proceso Facturacion</a>
            <li>
                <a href="">Reportes en PDF</a>
            </li>
            <li>
                <a href="/">Regresar</a>
            </li>   
        </ul>
    </nav>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>