{% extends 'layouts/base.html' %}
{% block content %}
<h1>Informacion del Estudiante</h1>
<nav>
    <ul>
        <li>
            <h4>Walter Javier Santizo Mazarigos</h4>
        </li>
        <li>
            <h4>Carnet: 202111718</h4>
        </li>
        <li>
            <h4>CUI: 2070097670101</h4>
        <li>
            <h4>Introduccion a la Computacion 2</h4>
        </li>   
    </ul>
    <form method="POST">
        {% csrf_token %}
        <button>
            Abrir Documentación
        </button>
    </form>

{% endblock %}
