{% extends 'layouts/base.html' %}
{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque nihil quod enim? Nihil labore expedita reiciendis. Accusantium odit rerum ad vel. Iure, nesciunt doloremque. Est mollitia numquam non error? Fugit, incidunt! Ratione tempore fuga, quo error voluptatum laborum soluta maxime adipisci quia impedit natus id, asperiores aliquam modi, quam magni aperiam sed nisi minima praesentium officia optio nobis porro odit. Ex quo dicta quam accusamus, magni, quisquam molestiae quod illum atque quidem, quas assumenda inventore laborum? Impedit vitae voluptatum, maiores soluta numquam aperiam fugit delectus libero incidunt velit cumque, expedita distinctio iure quisquam hic illum deleniti molestiae voluptate amet. Neque!</p>

<p>website created by {{username}}</p>
{% endblock %}
